--
-- PostgreSQL database dump
--

\restrict BjKa02TxR5oxsDsh1ck4ZfGn5tjiixlXVeJsY7aHm0Vd9dRiKWIUTvVJzOBExyV

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg13+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: customer_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customer_data (
    "Booking_ID" text,
    stays_in_weekend_nights integer,
    stays_in_week_nights integer,
    lead_time integer,
    arrival_year integer,
    arrival_month integer,
    arrival_date date,
    market_segment_type text,
    avg_price_per_room double precision,
    is_canceled integer,
    arrival_day integer
);


ALTER TABLE public.customer_data OWNER TO postgres;

--
-- Name: hotel_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.hotel_data (
    hotel text,
    lead_time integer,
    arrival_year integer,
    arrival_month integer,
    arrival_date_week_number integer,
    stays_in_weekend_nights integer,
    stays_in_week_nights integer,
    market_segment_type text,
    country text,
    avg_price_per_room double precision,
    email text,
    is_canceled integer,
    arrival_day integer,
    arrival_date date
);


ALTER TABLE public.hotel_data OWNER TO postgres;

--
-- Name: unified_data; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.unified_data (
    hotel text,
    lead_time integer,
    arrival_year integer,
    arrival_month integer,
    arrival_date_week_number double precision,
    stays_in_weekend_nights integer,
    stays_in_week_nights integer,
    market_segment_type text,
    country text,
    avg_price_per_room double precision,
    email text,
    is_canceled integer,
    arrival_day integer,
    arrival_date date,
    "Booking_ID" text
);


ALTER TABLE public.unified_data OWNER TO postgres;

--
-- PostgreSQL database dump complete
--

\unrestrict BjKa02TxR5oxsDsh1ck4ZfGn5tjiixlXVeJsY7aHm0Vd9dRiKWIUTvVJzOBExyV

